* {
    box-sizing: border-box;
}

body,
html {
    background-image: url(blurry-gradient-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.personnage {
    flex: 0 0 auto;
    margin-right: 10px;
}

.image-personnage {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.image-principale {
    margin-top: 100px;
    flex: 1;
    text-align: center;
}

.image-centrale {
    max-width: 100%;
    border-radius: 30px;
    height: auto;
}

.barre-container {
    width: 60px;
    height: 200px;
    background-color: #ddd;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    margin-left: 50px;
}

.barre-remplie {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: all 5s ease-in-out;
    height: 50%;
    background-color: #00f;
    transition: height 0.3s ease;
}

.questionnaire {
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

.reponses {
    display: flex;
    justify-content: center;
}

.reponse {
    background-color: #d3d3f9;
    border: none;
    border-radius: 10px;
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
}


.add-button {
    display: flex;
    position: fixed;
    flex-direction: column;
    bottom: 0;
    justify-content: space-evenly;
    background-color: #272727;
    width: 100%;
    height: 10vh;
    z-index: 1;
}

.whitespace {
    width: 40%;
}

.top {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    align-items: center;
}


.top span {
    text-align: center;
    color: #aaa;
    font-size: 1.5em;
    font-weight: 500;
    align-self: center;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    align-items: center;
}

.add-button button {
    border-radius: 20%;
    border: #aaa solid 2px;
    color: #aaa;
    font-size: 1.5em;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0);
    width: fit-content;
    align-self: center;
}

.add-button button:hover {
    color: #fff;
    border: #fff solid 2px;
    transition: all 0.5s;
}



@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .personnage,
    .barre-container {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .image-personnage {
        width: 50px;
    }

    .barre-container {
        height: 100px;
    }

    .image-centrale {
        max-width: 95%;
    }

    .reponses {
        flex-direction: column;
    }



    .add-button button {
        border-radius: 20%;
        border: #aaa solid 2px;
        color: #aaa;
        font-size: 1em;
        font-weight: 500;
        background-color: rgba(0, 0, 0, 0);
        width: fit-content;
        align-self: center;
    }
    

}